* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}
.mobile-menu{
    display: none;
}
.main-title_box{
    text-align: center;
    border-bottom: #61aa98 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    max-width: 135px;
}
.main-title{
    color: #61aa98;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 90px;
}
.main-title_p{
    color: #918f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}
.header-body{
    max-width: 1460px;
    margin: 20px auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    width: 810px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list a{
    text-decoration: none;
}
.sec-nav-list{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.nav-link{
    color: #918f8f;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    transition: 0.6s;
}
.nav-link:hover{
    color: #61aa98;
}
.nav-link:last-child{
    margin-right: 0px;
}
.header-span{
    color: #27886c;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px dotted rgba(99,155,139,.7);
    display: inline-block;
    line-height: 26px;
}
.header-filter{
    line-height: 20px;
    position: relative;
    color: #27886c;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.navbar-form{
    display: flex;
    align-items: center;
}
.navbar-form a{
    display: none;
}
.input-box{
    display: flex;
    align-items: center;
}
.input-box-mn{
    display: flex;
    display: none;
    align-items: center;
}
.header-input{
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42857143;
    color: #563b37;
    background-color: #fff;
    background-image: none;
    border: 2px solid #918f8f;
    border-radius: 4px;
    margin: 0 10px 0 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.header-input-mn{
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42857143;
    color: #563b37;
    background-color: #fff;
    background-image: none;
    border: 2px solid #918f8f;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.header-input:focus{
    border: 2px solid #61aa98;
}
.search-btn{
    line-height: 20px;
    border-radius: 4px;
    background: #e85454;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 7px 18px;
    border-radius: 4px;
}
.lupa-icon{
    display: none;
}









.main {
    max-width: 100%;
    border-top: #61aa98 2px solid;
}
.main-body{
    max-width: 1510px;
    margin: 15px auto;
    padding: 0 25px;
}
.recipes-title {
    color: #27886c;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.recipes-subtitle {
    color: #1d6651;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;

}
.main-underline {
    width: 100%;
    margin: 40px 0 15px 0;
    user-select: none;
}
.recipes-section {
}
.recipes-sect-title {
    color: #27886c;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.recipe-block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}
.recipe-box {
    position: relative;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.recipe-box:hover .recipe-box-hover{
    opacity: 1;
}
.recipe-box-img {
    position: relative;
    background-image: url(../Imgs/img-test.jpg);
    width: 260px;
    height: 260px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    user-select: none;
    box-shadow: 0 0 10px #000000c0;
    border-radius: 100%;
}
.recipe-box-info {
    color: #27886c;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.recipe-box-hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    border-radius: 100%;
    background: #6ee7c9;
    opacity: 0;
    transition: 0.4s;
}
.recipe-hover-logo {
    fill: #fff;
    font-size: 53px;
}
.recipe-hover-info {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}










.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    padding-bottom: 50px;
    background-color: #6ee7c9;
    border-top: 2px solid #265a5a;
    margin: 0 auto;
    margin-top: 50px;
}
.footer-list-block{
    margin-top: 40px;
    max-width: 200px;
}
.footer-list-block:nth-child(2) .footer-list-body{
    padding-top: 22px;
}
.footer-list-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #1d4545;
}
.footer-list{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.footer-list a{
    color: #265a5a;
}
.footer-bottom{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.footer-logo-img{
    max-width: 55px;
}
.footer-main-title{
    color: #265a5a;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 50px;
}
.tel-number{
    margin-top: 43px;
}
.tel-number-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #265a5a;
}
.number{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #265a5a;
    margin-top: 10px;
}
.footer-icons-list{
    display: flex;
    margin-top: 10px;
}
.list-icon{
    font-size: 55px;
    color: #265a5a;
    cursor: pointer;
    margin-right: 10px;
}
.footer-adaptive{
    display: none;
}









@media(max-width:1300px){
    .navbar{
        flex-direction: column;
    }
    .navbar-form{
        margin-top: 20px;
    }
    .navbar-form a{
        display: block;
    }
    .nav-list{
        width: 600px;
    }
    .header-filter{
        display: none;
    }
    .section-body-block{
        padding: 0 30px;
    }
    .ct-title{
        font-size: 19px;
    }
    .footer-body{
        padding: 0 60px;
        padding-bottom: 50px;
    }
    .recipe-block{
        margin: 0 auto;
    }
    .all-recipes{
        margin: 0 auto;
    }
    .number{
        font-size: 30px;
    }
    .list-icon{
        font-size: 48px;
        color: #265a5a;
        cursor: pointer;
        margin-right: 10px;
    }
}

@media(max-width:991px){
    .recipe-box-img {
        max-width: 200px;
        height: 200px;
    }
    .recipe-box-hover{
        height: 200px;
    }
    .footer-body{
        padding: 0 30px;
        padding-bottom: 50px;
    }
    .footer-list-block{
        margin-right: 13px;
    }
    .number{
        font-size: 27px;
    }
}
@media(max-width:915px){
    .footer{
        display: none;
    }
    .footer-adaptive{
        display: block;
    }
    .footer-adaptive .footer-body{
        flex-direction: column;
    }
    .footer-adaptive .footer-list-block-main{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .footer-adaptive .footer-list-block{
        margin-right: 0;
    }
    .footer-adaptive .contacts-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-adaptive .tel-number-text{
        font-size: 19px;
    }
    .footer-adaptive .number{
        font-size: 40px;
    }
    .footer-adaptive .list-icon{
        font-size: 55px;
    }
}
@media(max-width:820px){
    .navbar-form{
        flex-direction: column-reverse;
    }
    .input-box{
        margin-bottom: 20px;
    }
}

@media(max-width:786px){
    .main-title_box{
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #59b19b;
        padding: 10px;
    }
    .open{
        position: absolute;
        left: -4px;
        width: 32px;
        height: 45px;
        cursor: pointer;
        z-index: 10;
        margin-left: 15px;
    } 
    .header-burger{
        top: 47%;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transition: 0.6s;
    }
    .header-burgerBefore{
        bottom: 25%;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transition: 0.6s;
    }
    .header-burgerAfter{
        top: 25%;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transition: 0.6s; 
    }
    .header-burger.active{
        transform: rotate(45deg);
        top: 22px;
    }
    .header-burgerAfter.active{
        transform: rotate(45deg);
        top: 22px;
    }
    .header-burgerBefore.active{
        transform: rotate(-45deg);
        bottom: 21px;
    }
    .lupa-icon{
        position: absolute;
        right: 0;
        margin-right: 10px;
        display: block;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        transition: 0.6s;
    }
    .lupa-icon.active{
        transform: rotateX('-90deg');
    }
    .header-input{
        display: none;
    }











    .mobile-menu{
        display: block;
        position: absolute;
        width: 100%;
        background-color: #59b19b;
        box-shadow: 5px 0 50px 10px #000;
        border-radius: 5px;
        z-index: 3;
        top: -600px;
        transition: 0.6s;
    }
    .mobile-menu.active{
        top: 0;
        transition: 0.6s;
    }
    .lupa-icon-mn{
        position: absolute;
        right: 0;
        top: 21px;
        margin-right: 10px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        transition: 0.6s;
    }
    .mn-line{
        max-width: 300px;
        transform: scaleX(1.5);
    }
    .main-title-mn{
        font-size: 35px;
        font-family: 'Dancing Script', cursive;
        margin-top: 15px;
        font-weight: 900;
        color: #fff;
    }
    .nav-list-mn{
        align-items: center;
        justify-content: space-around;
        margin-top: 25px;
    }
    .nav-list-mn a{
        text-decoration: none;
    }
    .nav-link-mn__td{
        text-decoration: none;
    }
    .nav-link-mn{
        color: #fff;
        font-size: 22px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        cursor: pointer;
        list-style: none;
        transition: 0.6s;
    }
    .nav-link-mn::before{
        content: "•";
        font-size: 30px;
        color: #fff;
        margin-right: 10px;
    }
    .nav-link-mn::after{
        content: "•";
        font-size: 30px;
        color: #fff;
        margin-left: 10px;
    }
    .header-span-mn{
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 2px dotted #fff;
        display: inline-block;
        line-height: 26px;
    }
    .header-filter-mn{
        line-height: 20px;
        position: relative;
        color: #fff;
        text-decoration: none;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .mobile-menu__decoration{
        margin-top: 30px;
        user-select: 0;
    }
    .mobile-menu-bottom{
        margin-top: 25px;
    }
    .logo-img-mn{
        width: 80px;
    }
    .mobile-menu-services{
        color: #fff;
        font-size: 23px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0 10px 0;
    }
    .icons-list-mn{
        display: flex;
        justify-content: center;
    }
    .list-icon-mn{
        font-size: 55px;
        color: #265a5a;
        cursor: pointer;
        margin: 0 15px 10px 0;
    }
    .list-icon-mn:last-child{
        margin-right: 0;
    }





    .recipes-title{
        margin-top: 70px;
        text-align: center;
    }
    .recipes-subtitle{
        margin-top: 15px;
        text-align: center;
    }
    .recipes-sect-title{
        text-align: center;
    }
    .recipe-box{
        margin: 0 auto;
    }





    .logo-img{
        display: none;
        max-width: 100px;
    }
    .main-title{
        font-size: 35px;
        color: #fff;
    }
    .main-title_p{
        display: none;
    }
    .nav-list{
        display: none;
    }
    .header{
        height: 0;
    }
    .header-span{
        display: none;
    }
    .sec-nav-list{
        display: flex;
        margin-top: 30px;
        align-items: center;
    }
    .header-span{
        font-size: 18px;
    }
    .input-box-mn{
        display: none;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 5;
        background: #fff;
        border-radius: 4px;
    }
    .header-input-mn{
        display: block;
        right: 0;
        width: 100%;
        height: 37px;
        padding: 6px 12px;
    }
    .search-btn-mn{
        position: absolute;
        right: 0;
        top: 0.4px;
        line-height: 20px;
        border-radius: 4px;
        background: #e85454;
        border: none;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 8px 10px;
        border-radius: 4px;
    }
    .header-input:focus{
        border: 2px solid #61aa98;
    }
    .search-btn{
        display: none;
        margin-left: 10px;
    }


    .contacts-main-block{
        margin-top: 70px;
    }


    .footer-adaptive .footer-body{
        padding: 0 15px;
    }
    .footer-adaptive .footer-list-block-main{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-adaptive .footer-list-block{
        margin-right: 15px;
    }
    .footer-adaptive .footer-list-block:nth-child(3){
        margin-right: 0;
    }
}
@media(max-width:675px){
    .logo-img{
        max-width: 80px;
    }
    .footer-adaptive .number{
        font-size: 30px;
    }
    .footer-adaptive .list-icon{
        font-size: 45px;
    }
}
@media(max-width:616px){
    .recipes-title{
        font-size: 30px;
    }
    .recipes-subtitle{
        font-size: 16px;
    }
    .recipes-sect-title{
        margin-bottom: 50px;
        font-size: 28px;
    }
    .recipe-box-img{
        transform: scale(1.2);
        margin: 20px auto;
    }
    .recipe-box-info{
        font-size: 22px;
    }
}
@media(max-width:463px){
    .main-title_box{
        justify-content: space-around;
    }
    .main-title-mn{
        margin-top: 15px;
    }
    .open{
        position: relative;
        left: -10px;
        top: 1px;
        margin: 0;
    }
    .lupa-icon{
        position: relative;
        margin-right: 0;
    }
    .mobile-menu__decoration{
        display: none;
    }
    .input-box-mn{
        max-width: 463px;
    }
    .contacts-main-block{
        margin-top: 45px;
        margin-bottom: 5px;
    }
}
@media(max-width:406.40px){
    .footer-adaptive .footer-list-block:nth-child(2){
        margin-top: 0;
        margin-right: 30px;
    }
     .header-input-mn::placeholder{
        font-size: 12px;
     }
}
@media(max-width:360px){
    .main-title{
        font-size: 27px;
    }
    .main-title-mn{
        margin-top: 21px;
        font-size: 27px;
    }
    .lupa-icon{
        font-size: 22px;
    }
}